<a href="https://colab.research.google.com/github/aamerS/Machine-learning/blob/master/KNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

In [ ]:
df=pd.read_csv('/content/drive/MyDrive/Colab Notebooks/Dataset/creditcard.csv')

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
df.isna().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [ ]:
df.head()

   Time        V1        V2        V3  ...       V27       V28  Amount  Class
0   0.0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62      0
1   0.0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69      0
2   1.0 -1.358354 -1.340163  1.773209  ... -0.055353 -0.059752  378.66      0
3   1.0 -0.966272 -0.185226  1.792993  ...  0.062723  0.061458  123.50      0
4   2.0 -1.158233  0.877737  1.548718  ...  0.219422  0.215153   69.99      0

[5 rows x 31 columns]

In [ ]:
X=df.drop(['Class'],axis=1)
y=df['Class']

In [ ]:
from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=123,stratify=y)

# KNN with Imbalance

In [ ]:
from sklearn.neighbors import KNeighborsClassifier

In [ ]:
knn=KNeighborsClassifier()

In [ ]:
knn.fit(X_train, y_train)

KNeighborsClassifier()

In [ ]:
y_pred=knn.predict(X_test)

In [ ]:
from sklearn.metrics import confusion_matrix,accuracy_score

In [ ]:
print(confusion_matrix(y_test,y_pred))

[[85295     0]
 [  141     7]]

In [ ]:
accuracy_score(y_test,y_pred)

0.9983497770443454

# Undersampling

In [ ]:
from imblearn.under_sampling import NearMiss

In [ ]:
nm=NearMiss()

In [ ]:
X_us,y_us=nm.fit_resample(X,y)

In [ ]:
X_train,X_test,y_train,y_test=train_test_split(X_us,y_us,test_size=0.3,stratify=y_us)

In [ ]:
knn.fit(X_train,y_train)

KNeighborsClassifier()

In [ ]:
y_pred=knn.predict(X_test)

In [ ]:
confusion_matrix(y_test,y_pred)

array([[147,   1],
       [ 13, 135]])

In [ ]:
accuracy_score(y_test,y_pred)

0.9527027027027027

# Over Sampling

In [ ]:
from imblearn.over_sampling import SMOTE

In [ ]:
sm=SMOTE()

In [ ]:
X_os,y_os=sm.fit_resample(X,y)

In [ ]:
X_train,X_test,y_train,y_test=train_test_split(X_os,y_os,test_size=0.3,stratify=y_os)

In [ ]:
knn.fit(X_train,y_train)

KNeighborsClassifier()

In [ ]:
y_pred=knn.predict(X_test)

In [ ]:
confusion_matrix(y_test,y_pred)

array([[80452,  4843],
       [ 2174, 83120]])

In [ ]:
accuracy_score(y_test,y_pred)

0.9588660464625504